<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Test.html" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://tamtran2005.zapto.org/home.html" />
    </system.webServer>
</configuration>
